// --- SISTEMA BASE ---
// Reloj interno (27 MHz)
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Asignar el botón S1 físico para el reset
IO_LOC "sys_rst_n" 4; 
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Disparo / Trigger (Botón S2 o Láser a 3.3V)
IO_LOC "trigger_in" 3; 
IO_PORT "trigger_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// UART TX (Hacia la Mac)
IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- FILA INFERIOR DEL ADC (Pines 25-29) ---
IO_LOC "adc_data[7]" 25; // D11 (MSB)
IO_LOC "adc_data[5]" 26; // D9
IO_LOC "adc_data[3]" 27; // D7
IO_LOC "adc_data[1]" 28; // D5
IO_LOC "adc_clk"     29; // CLK

// --- FILA SUPERIOR DEL ADC (Pines 30-33) ---
IO_LOC "adc_data[6]" 30; // D10
IO_LOC "adc_data[4]" 31; // D8
IO_LOC "adc_data[2]" 32; // D6
IO_LOC "adc_data[0]" 33; // D4 (LSB)

// --- CONFIGURACIÓN ELÉCTRICA ADC ---
IO_PORT "adc_clk" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "adc_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "adc_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "led_busy" 10;
IO_PORT "led_busy" IO_TYPE=LVCMOS18;